{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{this.text}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <br><br>
        <div class="m-3 col-8">
            <h2 id="tituloRegistro"><i class="fas fa-user-check" id="icon"></i>Pregunta de Autenticidad</h2>
            <center><img src="/imagenes/valida.png" width="100" height="100"/></center>
            <span id = "minutos">0</span>:<span name = "segundosID" id = "segundos">0</span>
            <input type="hidden" value="{{id}}" id="myInput">
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <br><br>
        <div class="m-3 col-8">
            <form method="POST" action="/login/{{id}}" enctype="application/x-www-form-urlencoded">
            {{#if bool}}
                <div class="mb-3">
                    <b>{{preg}}</b>
                    <select class="form-select" name="{{head}}" id="pais">
                        <option value="">-----Seleccionar</option>
                        <option value="Verano">Verano</option>
                        <option value="invierno">Invierno</option>
                        <option value="otonio">Otoño</option>
                        <option value="primavera">Primavera</option>
                    </select>
                </div>
            {{else}}
                  <div class="mb-3">
                    <b>{{preg}}</b>
                    <input type="text" placeholder="Escribe ..." class="form-control"
                    id="pais" name="{{head}}" required value="">
                </div>
            {{/if}}
                <center>
                    <button type="submit" class="btn btn-primary" id="botonInicio"><i class="fas fa-thumbs-up" id="icon"></i>ACEPTAR</button>
                    <br><br> <br><br>
                </center>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script>
      //let ide = document.getElementById("eti").value;
      //console.log(ide);
      var inputVal = document.getElementById("myInput").value;
      //var idPais = document.getElementById("pais").value;
      //console.log(idPais);
      const carga = () => {
        let contador_m = 0;
        let contador_s = 0;
        let s = document.getElementById("segundos");
        let m = document.getElementById("minutos");
        let estado = "True";
        const cronometro = setInterval(() => {
            if(contador_s == 60){
              contador_s = 0;
              contador_m ++;
              m.innerHTML = contador_m;
              if(contador_m == 0) {
                contador_m = 0;
              }
            }
            s.innerHTML = contador_s;
              if(contador_s == 5){
                clearInterval(cronometro);
                //alert("Tiempo excedido");
                //const Http = new XMLHttpRequest();
                //const url=`localhost:8000/login/${inputVal}`
                //console.log(url);
                //Http.open("POST", url);
                //Http.send();

                //location.reload();
                //carga();
                var xhr = new XMLHttpRequest();
                xhr.open("POST",`http://localhost:8000/login/${inputVal}` , true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                value: "False"
                }));
                //window.location.reload();
              }else if(contador_s >= 16){
                  estado = "False";
                  console.log(estado);
              }
            contador_s ++;
          }
        ,1000);

        return estado;
      }
      window.onload = carga;
    </script>