<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <table class="table table-hover">
        <thead>
            <tr class="bg-primary">
            <th scope="col"><center><b>Parámetro</b></center></th>
            <th scope="col"><center><b>Valor</b></center></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row"><b>Nombre</b></th>
            <td>{{name}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Cedula</b></th>
            <td>{{cedula}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Dirección</b></th>
            <td>{{direccion}}</td>
            </tr>
            <tr>

            <th scope="row"><b>Telefono</b></th>
            <td>{{mobile}}</td>
            </tr>
            <tr>

            <th scope="row"><b>Correo electrónico</b></th>
            <td>{{correo}}</td>
            </tr>
            <tr>

            <th scope="row"><b>Fecha Nacimiento</b></th>
            <td>{{date}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Código Postal</b></th>
            <td>{{cod}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Nombre de usuario</b></th>
            <td>{{user}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Sexo</b></th>
            <td>{{sexo}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Tipo de sangre</b></th>
            <td>{{tSangre}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Estado Civil</b></th>
            <td>{{eCivil}}</td>
            </tr>

             <tr>
            <th scope="row"><b>Etnia</b></th>
            <td>{{etnia}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Contraseña</b></th>
            <td>{{passconf}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Clima Favorito</b></th>
            <td>{{clima}}</td>
            </tr>
            <tr class="bg-primary">
                <td colspan="2"><center><b>Preguntas de Autenticación</b></center></td>
            </tr>
            <tr>
            <th scope="row"><b>Color</b></th>
            <td>{{color}}</td>
            </tr>

            <tr>
            <th scope="row"><b>País</b></th>
            <td>{{pais}}</td>
            </tr>

            <tr>
            <th scope="row"><b>Pelicula Serie Favorita</b></th>
            <td>{{peli_serie}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</div>
<br><br><br><br><br><br><br>