<div class="container p-4">
    <div class="col-md-12 mx-auto">
        <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Parámetro</th>
            <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">id</th>
            <td>{{id}}</td>
            </tr>

            <tr>
            <th scope="row">Nombre</th>
            <td>{{name}}</td>
            </tr>

            <tr>
            <th scope="row">Cedula</th>
            <td>{{cedula}}</td>
            </tr>

            <tr>
            <th scope="row">Dirección</th>
            <td>{{direccion}}</td>
            </tr>
            <tr>

            <th scope="row">Telefono</th>
            <td>{{mobile}}</td>
            </tr>
            <tr>

            <th scope="row">Correo</th>
            <td>{{correo}}</td>
            </tr>
            <tr>

            <th scope="row">Fecha Nacimiento</th>
            <td>{{date}}</td>
            </tr>

            <tr>
            <th scope="row">Codi</th>
            <td>{{cod}}</td>
            </tr>

            <tr>
            <th scope="row">User</th>
            <td>{{user}}</td>
            </tr>

            <tr>
            <th scope="row">Sexo</th>
            <td>{{sexo}}</td>
            </tr>

            <tr>
            <th scope="row">Tipo de sangre</th>
            <td>{{tSangre}}</td>
            </tr>

            <tr>
            <th scope="row">Estado Civil</th>
            <td>{{eCivil}}</td>
            </tr>

             <tr>
            <th scope="row">Etnia</th>
            <td>{{etnia}}</td>
            </tr>

            <tr>
            <th scope="row">Contraseña</th>
            <td>{{passconf}}</td>
            </tr>

            <tr>
            <th scope="row">Clima Favorito</th>
            <td>{{clima}}</td>
            </tr>

            <tr>
            <th scope="row">Color</th>
            <td>{{color}}</td>
            </tr>

            <tr>
            <th scope="row">Pais</th>
            <td>{{pais}}</td>
            </tr>

            <tr>
            <th scope="row">Pelicula Serie Favorita</th>
            <td>{{peli_serie}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>