{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{this.text}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <br><br>
        <div class="m-3 col-8">
            <h2 id="tituloRegistro"><i class="fas fa-user-circle" id="icon"></i>Registro del Usuario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <br><br>
        <div class="m-3 col-8">
            <form action="/regStep" method="POST" enctype="application/x-www-form-urlencoded" onsubmit="return validar();">
                
                <!-- GRUPO nombre -->
                <div class="mb-3">
                    <i class="fas fa-user-alt" id="regicon"></i>Nombre
                    <input type="text" placeholder="Ingresar nombre" class="form-control" id="name"
                        name="name" required value="{{objReg.name}}">
                    </div> 
                <!-- -->

                <div class="mb-3">
                    <i class="fas fa-id-card" id="regicon"></i>Cédula
                    <input type="text" placeholder="Ingresar cédula" class="form-control" minlength="10"  id="cedula"
                        name="cedula" required value="{{objReg.cedula}}" onkeypress="soloNum(event)">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>

                <div class="mb-3">
                    <i class="fas fa-map-marker-alt" id="regicon"></i>Dirección
                    <input type="text" placeholder="Ingresar dirección" class="form-control" id="direccion"
                        name="direccion" required value="{{objReg.direccion}}">
                </div>

                <div class="mb-3">
                    <i class="fas fa-phone" id="regicon"></i>Teléfono
                    <input type="text" placeholder="Ejemplo: 0987190827" class="form-control" id="telefono"
                        name="mobile" required value="{{objReg.mobile}}" onkeypress="soloNum(event)" >
                </div>

                <div class="mb-3">
                    <i class="fas fa-envelope" id="regicon"></i>Dirección de Correo
                    <input type="text" placeholder="ejemplo@hotmail.com" class="form-control" id="correo"
                        aria-describedby="emailHelp" name="correo" required value="{{objReg.correo}}">
                    <div id="emailHelp" class="form-text">No compartiremos tu correo con nadie más.</div>
                </div>

                <div class="mb-3">
                    <i class="fas fa-birthday-cake" id="regicon"></i>Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="fecha-nacimiento" name="date" required
                        value="{{objReg.date}}">
                </div>

                <div class="mb-3">
                    <i class="fas fa-mail-bulk" id="regicon"></i>Código Postal
                    <input type="text" placeholder="Ingresar código postal" class="form-control" id="postal"
                        name="cod" required value="{{objReg.cod}}">
                </div>

                <!-- Grupo: Usuario -->              
                <div class="mb-3">
                    <i class="fas fa-user-tag" id="regicon"></i>Nombre Usuario</label>
                    <input type="text" placeholder="Ingresar nombre usuario" class="form-control" id="user"
                        name="user" required value="{{objReg.user}}">
                </div>
                <!-- -->

                <div class="mb-3 form-check">
                    <label class="form-label"><i class="fas fa-venus-mars" id="regicon"></i>Sexo: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault1" value="hombre">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Hombre
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault2" value="mujer">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Mujer
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault3" value="None"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault3">
                            Personalizado
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <i class="fas fa-syringe" id="regicon"></i>Tipo de sangre
                    <select class="form-select" name="tSangre" required>
                        <option value="">------Seleccione un tipo de sangre------</option>
                        <option value="O-">O negativo</option>
                        <option value="O+">O positivo</option>
                        <option value="A-">A negativo</option>
                        <option value="A+">A positivo</option>
                        <option value="B-">B negativo</option>
                        <option value="B+">B positivo</option>
                        <option value="AB-">AB negativo</option>
                        <option value="AB+">AB positivo</option>
                    </select>
                </div>

                <div class="mb-3">
                    <i class="fab fa-wpforms" id="regicon"></i> Estado Civil
                    <select class="form-select" name="eCivil" required>
                        <option value="">------Seleccione Estado Civil------</option>
                        <option value="soltero">Soltero</option>
                        <option value="casado">Casado</option>
                        <option value="divorciado">Divorcido</option>
                        <option value="viudo">Viudo</option>
                    </select>
                </div>

                <div class="mb-3 form-check">
                    <label class="form-label"><i class="fab fa-creative-commons-by" id="regicon"></i>Etnia: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="etnia" id="mestizo" value="meztizo" checked>
                        <label class="form-check-label" for="flexRadioDefault1" >
                            Meztizo
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="etnia" id="indigena" value="indigena">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Indígena
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="etnia" id="afro" value="afro">
                        <label class="form-check-label" for="flexRadioDefault3">
                            Afroamericano
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="etnia" id="otro" value="otro">
                        <label class="form-check-label" for="flexRadioDefault3">
                            Otro
                        </label>
                    </div>
                </div>

                <!-- CONTRASEÑA -->
                <div class="mb-3">
                    <i class="fas fa-lock" id="regicon"></i>Contraseña</label>
                    <input type="password" placeholder="**************" class="form-control" id="contra" name="passconf" required
                        value="{{objReg.passconf}}">
                </div>
                <!-- -->

                <!-- CONTRASEÑA 2 -->
                <div class="mb-3">
                    <i class="fas fa-lock" id="regicon"></i>Confirmar Contraseña</label>
                    <input type="password" placeholder="**************"class="form-control"  id="contra1" name="passconf" required
                        value="{{objReg.passconf}}">    
                </div>
                <!-- -->

                <center>
                    <button type="submit" class="btn btn-primary" id="botonInicio"><i class="fas fa-thumbs-up" id="icon"></i>ACEPTAR</button>
                    <br><br> <br><br>
                </center>
            </form>
        </div>
    </div>
</div>